$primaryColor: #005792;
$secondaryColor: #53CDE2;
$black: #06283D;
$blackText: rgb(80, 80, 80);
$white: #FFF;
$green: #79D1C3;
$whiteOpacity: rgba(255, 255, 255, 0.329);
$blackOpacity: rgba(0, 0, 0, 0.301);
$orange: #e77221;
$blackParagraph: #000000d9;
$darkBlue: #06283d;