.edrea-archive-blog {
    margin: 60px 0;
    &__wrapper {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 30px 30px; 
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
    }
}