.edrea-single-post {
    padding: 30px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &--left {
            width: calc( 72% - 25px);
            p, li {
                font-size: 17px;
                line-height: 1.6;
                color: $blackParagraph;
            }
        }
        &--right {
            width: calc( 28% - 25px );
            padding: 20px 0;
 
        }
    }
    &__title {
        margin-bottom: 10px;
        word-break: break-all;
        line-height: 1.25;
    }
    &__meta {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        margin-top: -10px;
        &--author {
            display: flex;
            align-items: center;
            margin-right: 25px;
            img {
                margin-right: 8px;
                border-radius: 50%;
            }
            .edrea-author-name {
                text-transform: uppercase;
                font-weight: 600;
                color: $primaryColor;
                font-size: 15px;
            }
        }
        .post-date {
           display: flex;
            img {
                width: 25px;
                margin-right: 8px;
            }
            p {
                color: $blackParagraph;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 15px;
            }
        }
    }
    .edrea-tags {
        display: flex;
        align-items: center;
        margin: 30px 0;
        p {
            font-weight: 600;
            color: $blackText;
            font-size: 23px;
            margin: 0;
        }
        .tag-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            a {
                border: 1px solid $primaryColor;
                background-color: transparent;
                border-radius: 3px;
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 5px 10px;
                margin: 5px;
                transition: 0.3s;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 15px;
                &:hover {
                    color: $white;
                    background-color: $orange;
                    border: 1px solid $orange;
                }
            } 
        }
    }
}

// Responsiveness

@include tabletScreen {

    .edrea-single-post__wrapper {
        flex-direction: column;
        &--left, &--right {
            width: 100%;
        }
    }

    body .edrea-single-post__title {
        font-size: 32px;
    }

}

@include landscapeScreen {
    .edrea-single-post__meta .post-date p {
        font-size: 13px;
    }
    .edrea-single-post__meta--author .edrea-author-name {
        font-size: 13px;
    }
    .edrea-single-post .edrea-tags {
        flex-direction: column;
        p {
            margin-bottom: 20px;
        }
    }
}

@include mobileScreen {

    body .edrea-single-post__title {
        font-size: 30px;
    }
}