.edrea-card {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    width: calc(33% - 30px);
    margin-right: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: 0.3s;
    &:hover {
        transform: translateY(-5px);
    }
    &__thumbnail { 
        position: relative;
        padding: 10px;
        img {
            width: 100%;
            border-radius: 8px;
        }
        .article-date {
            position: absolute;
            left: 10px;
            bottom: 30px;
            background-color: $blackOpacity;
            padding: 7px;
            padding-left: 20px;
            span {
                color: $white;
            }
        }
        .article-category {
            position: absolute;
            top: 20px;
            right: 10px;
            display: flex;
            .cat {
                text-decoration: none;
                margin: 0 3px;
                p {
                    padding: 5px;
                    text-decoration: none;
                    color: $white;
                    font-size: 10px;
                    margin: 0;
                    border-radius: 3px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
    &__detail {
        padding: 0 20px;
        padding-top: 0;
        position: relative;
        a {
            color: $black;
            text-decoration: none;
            h1 {
                margin: 0;
                color: $primaryColor;
            }
        }
        p {
            line-height: 1.6;
            color: $blackText;
            a {
                color: $orange;
                font-weight: 600;
            }
        }
    }
}

// Responsiveness

@include mobileScreen {

    .edrea-grid-sizer {
        width: 100% !important;
    } 
    .edrea-card__detail a h1 {
        font-size: 26px !important;
    }
    .edrea-card__detail p {
        font-size: 17px !important;
    }

}

@include landscapeScreen {

    .edrea-grid-sizer {
        width: calc(48% - 20px);
    }

}

@include laptopScreen {
    .edrea-card__detail a h1 {
        font-size: 21px;
    }
    .edrea-card__detail p {
        font-size: 14px;
    }
}