.edrea-card {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    width: calc(33% - 30px);
    margin-right: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    &__thumbnail { 
        position: relative;
        padding: 10px;
        img {
            width: 100%;
            border-radius: 8px;
        }
        .article-date {
            position: absolute;
            left: 10px;
            bottom: 30px;
            background-color: $blackOpacity;
            padding: 7px;
            padding-left: 20px;
            span {
                color: $white;
            }
        }
    }
    &__detail {
        padding: 0 20px;
        padding-top: 0;
        position: relative;
        a {
            color: $black;
            text-decoration: none;
            h1 {
                margin: 0;
                color: $primaryColor;
            }
        }
        p {
            line-height: 1.6;
            color: $blackText;
            a {
                color: $orange;
                font-weight: 600;
            }
        }
    }
}