.edrea-widget-area {

    h1, h2, h3, h4 {
        color: $orange;
        font-weight: 600;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 15px;
    }
    a {
        color: $black;
        transition: 0.3s;
        &:hover {
            color: $orange;
        }
    }
    li {
        margin-bottom: 10px;
    }
}

// Responsiveness

@include tabletScreen {
    
    body .edrea-widget-area {

        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 26px;
        }
        h3 {
            font-size: 21px;
        }
    }
}